<!DOCTYPE html>
{% extends 'base.html' %}
<html lang="en">
<head>
    <title>Add Schedule</title>
</head>
<body>
    <!-- {% if schedule_form.non_field_errors %}
        <div class="alert alert-danger">
            <ul>
                {% for error in schedule_form.non_field_errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %} -->
        
    {% block content %}
    <form method="POST">
        {% csrf_token %}
        <h3>Employee Schedule</h3>
        <hr>

        <div class="form-group">
            <label for="id_employee">Employee:</label>
            {{ schedule_form.employee }}
            {% if schedule_form.employee.errors %}
            <div class="text-danger">
                {{ schedule_form.employee.errors.0 }}
            </div>
            {% endif %}
        </div>

        <div class="d-flex gap-2 mt-2 mb-2 flex-column">
        
        <!-- Monday -->
        <div class="form-group d-flex border border-1 border-dark-subtle p-3 rounded">
            <div class="align-self-center col-2">
                <label for="id_monday_start">Monday</label>
            </div>
            
            <div class="d-flex gap-2 col-10">
                <div class="mr-2 flex-grow-1">
                    {{ schedule_form.monday_start }}
                    {% if schedule_form.monday_start.errors %}
                    <div class="text-danger">
                        {{ schedule_form.monday_start.errors.0 }}
                    </div>
                    {% endif %}
                </div>
                <div class="align-self-center"> to </div>
                <div class="ml-2 flex-grow-1">
                    {{ schedule_form.monday_end }}
                    {% if schedule_form.monday_end.errors %}
                    <div class="text-danger">
                        {{ schedule_form.monday_end.errors.0 }}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <!-- Tuesday -->
        <div class="form-group d-flex border border-1 border-dark-subtle p-3 rounded">
            <div class="align-self-center  col-2">
                <label for="id_tuesday_start">Tuesday:</label>
            </div>
            
            <div class="d-flex gap-2 col-10">
                <div class="mr-2 flex-grow-1">
                    {{ schedule_form.tuesday_start }}
                    {% if schedule_form.tuesday_start.errors %}
                    <div class="text-danger">
                        {{ schedule_form.tuesday_start.errors.0 }}
                    </div>
                    {% endif %}
                </div>
                <div class="align-self-center"> to </div>
                <div class="ml-2 flex-grow-1">
                    {{ schedule_form.tuesday_end }}
                    {% if schedule_form.tuesday_end.errors %}
                    <div class="text-danger">
                        {{ schedule_form.tuesday_end.errors.0 }}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <!-- wednesday -->
        <div class="form-group d-flex border border-1 border-dark-subtle p-3 rounded">
            <div class="align-self-center col-2">
                <label for="id_wednesday_start">wednesday:</label>
            </div>
            
            <div class="d-flex gap-2 col-10">
                <div class="mr-2 flex-grow-1">
                    {{ schedule_form.wednesday_start }}
                    {% if schedule_form.wednesday_start.errors %}
                    <div class="text-danger">
                        {{ schedule_form.wednesday_start.errors.0 }}
                    </div>
                    {% endif %}
                </div>
                <div class="align-self-center"> to </div>
                <div class="ml-2 flex-grow-1">
                    {{ schedule_form.wednesday_end }}
                    {% if schedule_form.wednesday_end.errors %}
                    <div class="text-danger">
                        {{ schedule_form.wednesday_end.errors.0 }}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <!-- Thursday -->
        <div class="form-group d-flex border border-1 border-dark-subtle p-3 rounded">
            <div class="align-self-center col-2">
                <label for="id_thursday_start">thursday:</label>
            </div>
            
            <div class="d-flex gap-2 col-10">
                <div class="mr-2 flex-grow-1">
                    {{ schedule_form.thursday_start }}
                    {% if schedule_form.thursday_start.errors %}
                    <div class="text-danger">
                        {{ schedule_form.thursday_start.errors.0 }}
                    </div>
                    {% endif %}
                </div>
                <div class="align-self-center"> to </div>
                <div class="ml-2 flex-grow-1">
                    {{ schedule_form.thursday_end }}
                    {% if schedule_form.thursday_end.errors %}
                    <div class="text-danger">
                        {{ schedule_form.thursday_end.errors.0 }}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <!-- Friday -->
        <div class="form-group d-flex border border-1 border-dark-subtle p-3 rounded">
            <div class="align-self-center col-2">
                <label for="id_friday_start">friday:</label>
            </div>
            
            <div class="d-flex gap-2 col-10">
                <div class="mr-2 flex-grow-1">
                    {{ schedule_form.friday_start }}
                    {% if schedule_form.friday_start.errors %}
                    <div class="text-danger">
                        {{ schedule_form.friday_start.errors.0 }}
                    </div>
                    {% endif %}
                </div>
                <div class="align-self-center"> to </div>
                <div class="ml-2 flex-grow-1">
                    {{ schedule_form.friday_end }}
                    {% if schedule_form.friday_end.errors %}
                    <div class="text-danger">
                        {{ schedule_form.friday_end.errors.0 }}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <!-- Saturday -->
        <div class="form-group d-flex border border-1 border-dark-subtle p-3 rounded">
            <div class="align-self-center col-2">
                <label for="id_saturday_start">saturday:</label>
            </div>
            
            <div class="d-flex gap-2 col-10">
                <div class="mr-2 flex-grow-1">
                    {{ schedule_form.saturday_start }}
                    {% if schedule_form.saturday_start.errors %}
                    <div class="text-danger">
                        {{ schedule_form.saturday_start.errors.0 }}
                    </div>
                    {% endif %}
                </div>
                <div class="align-self-center"> to </div>
                <div class="ml-2 flex-grow-1">
                    {{ schedule_form.saturday_end }}
                    {% if schedule_form.saturday_end.errors %}
                    <div class="text-danger">
                        {{ schedule_form.saturday_end.errors.0 }}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <!-- Sunday -->
        <div class="form-group d-flex border border-1 border-dark-subtle p-3 rounded">
            <div class="align-self-center col-2">
                <label for="id_sunday_start">sunday:</label>
            </div>
            
            <div class="d-flex gap-2 col-10">
                <div class="mr-2 flex-grow-1">
                    {{ schedule_form.sunday_start }}
                    {% if schedule_form.sunday_start.errors %}
                    <div class="text-danger">
                        {{ schedule_form.sunday_start.errors.0 }}
                    </div>
                    {% endif %}
                </div>
                <div class="align-self-center"> to </div>
                <div class="ml-2 flex-grow-1">
                    {{ schedule_form.sunday_end }}
                    {% if schedule_form.sunday_end.errors %}
                    <div class="text-danger">
                        {{ schedule_form.sunday_end.errors.0 }}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>

        </div>


        <div class="form-group">
            <button type="submit" class="btn btn-success" >Save</button>
        </div>
    </form>
    {% endblock %}
</body>
</html>
