<!DOCTYPE html>
{% extends 'base.html' %}

<html lang="en">
<head>
    <title>Add Employee</title>
</head>
<body>
    {% block content %}
    <div class="container">
        <div class="d-flex">
            <h3 class="flex-grow-1">Add Employee</h3>
            <a class="btn btn-secondary mb-0" href="{% url 'view_employee_list' %}">Back to list</a>
        </div>
        
        <hr class="mb-5">
        {% if employee_form.non_field_errors %}
            <div class="alert alert-danger">
                <ul>
                    {% for error in employee_form.non_field_errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        <form method="POST" class="d-flex gap-2 flex-grow-1">
            {% csrf_token %}
            
            <!-- Display non-field errors -->
            
            
            <!-- Manually define each field with Bootstrap classes -->

            <div class="d-flex flex-column gap-3 flex-grow-1">
                <div class="form-group" class="form-label">
                    <label for="first_name" class="form-label">First Name:</label>
                    <input type="text" name="first_name" id="first_name" class="form-control" placeholder="Enter first name" >
                    {% if employee_form.first_name.errors %}
                    <div class="text-danger">
                        {{ employee_form.first_name.errors.0 }}
                    </div>
                    {% endif %}
                </div>
    
                <div class="form-group">
                    <label for="middle_name" class="form-label">Middle Name:</label>
                    <input type="text" name="middle_name" id="middle_name" class="form-control" placeholder="Enter middle name" >
                    {% if employee_form.middle_name.errors %}
                    <div class="text-danger">
                        {{ employee_form.middle_name.errors.0 }}
                    </div>
                    {% endif %}
                </div>
    
                <div class="form-group">
                    <label for="last_name" class="form-label">Last Name:</label>
                    <input type="text" name="last_name" id="last_name" class="form-control" placeholder="Enter last name">
                    {% if employee_form.last_name.errors %}
                    <div class="text-danger">
                        {{ employee_form.last_name.errors.0 }}
                    </div>
                    {% endif %}
                </div>
    
                <div class="form-group">
                    <label for="sex" class="form-label">Sex:</label>
                    <select name="sex" id="sex" class="form-control">
                        <option value="Male" {% if employee_form.sex.value == 'Male' %}selected{% endif %}>Male</option>
                        <option value="Female" {% if employee_form.sex.value == 'Female' %}selected{% endif %}>Female</option>
                        <option value="Other" {% if employee_form.sex.value == 'Other' %}selected{% endif %}>Prefer not to say</option>
                    </select>
                    {% if employee_form.sex.errors %}
                    <div class="text-danger">
                        {{ employee_form.sex.errors.0 }}
                    </div>
                    {% endif %}
                </div>
    
                <div class="form-group">
                    <label for="contact_number" class="form-label">Contact Number:</label>
                    <input type="text" name="contact_number" id="contact_number" class="form-control" placeholder="Enter contact number" autocomplete="off">
                    {% if employee_form.contact_number.errors %}
                    <div class="text-danger">
                        {{ employee_form.contact_number.errors.0 }}
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="d-flex flex-column gap-3 flex-grow-1">
                <div class="form-group">
                    <label for="company_id" class="form-label">Company ID:</label>
                    <input type="text" name="company_id" id="company_id" class="form-control" placeholder="Enter company ID" autocomplete="off">
                    {% if employee_form.company_id.errors %}
                    <div class="text-danger">
                        {{ employee_form.company_id.errors.0 }}
                    </div>
                    {% endif %}
                </div>
    
                <div class="form-group">
                    <label for="role" class="form-label">Role:</label>
                    <select name="role" id="role" class="form-control">
                        <option value="Regular Employee" {% if employee_form.role.value == 'Regular Employee' %}selected{% endif %}>Regular Employee</option>
                        <option value="Department Head" {% if employee_form.role.value == 'Department Head' %}selected{% endif %}>Department Head</option>
                        <option value="Administrator" {% if employee_form.role.value == 'Administrator' %}selected{% endif %}>Administrator</option>
                    </select>
                    {% if employee_form.role.errors %}
                    <div class="text-danger">
                        {{ employee_form.role.errors.0 }}
                    </div>
                    {% endif %}
                </div>
    
                <div class="form-group">
                    <label for="department" class="form-label">Department:</label>
                    <input type="text" name="department" id="department" class="form-control" placeholder="Enter department" >
                    {% if employee_form.department.errors %}
                    <div class="text-danger">
                        {{ employee_form.department.errors.0 }}
                    </div>
                    {% endif %}
                </div>
    
                <div class="form-group">
                    <label for="date_employed" class="form-label">Date Employed:</label>
                    <input type="text" name="date_employed" id="date_employed" class="form-control">
                    {% if employee_form.date_employed.errors %}
                        <div class="text-danger">
                            {{ employee_form.date_employed.errors.0 }}
                        </div>
                    {% endif %}
                </div>
    
                <div class="form-group">
                    <label for="leave_credits" class="form-label">Leave Credits:</label>
                    <input type="number" name="leave_credits" id="leave_credits" class="form-control" placeholder="Enter leave credits">
                    {% if employee_form.leave_credits.errors %}
                    <div class="text-danger">
                        {{ employee_form.leave_credits.errors.0 }}
                    </div>
                    {% endif %}
                </div>

                <div class="form-group">
                    <label for="user-select" class="form-label">Linked Login Credentials</label>
                    <select name="user" id="user-select" class="form-control">
                        <option value="" disabled selected>Select a User</option>
                        {% for user in users %}
                            <option value="{{ user.id }}">{{ user.username }}</option>
                        {% endfor %}
                    </select>
                </div>
                

                <div class="d-flex justify-content-end mt-2 gap-2">
                    <a class="btn btn-danger" href="{% url 'view_employee_list' %}">Cancel</a>
                    <button type="submit" class="btn btn-success">Save Employee</button>
                </div>
                
            </div>

            

            

            
        </form>
    </div>
    {% endblock %}
</body>

</html>
