<!DOCTYPE html>
{% extends 'base.html' %}
<html lang="en">
<head>
    <title>Add Schedule</title>
</head>
<body>
    {% block content %}
    <form method="POST">
        {% csrf_token %}
        <h3>Employee Schedule</h3>

        <!-- {% if schedule_form.non_field_errors %}
        <div class="alert alert-danger">
            <ul>
                {% for error in schedule_form.non_field_errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %} -->

        <div class="form-group">
            <label for="id_employee">Employee:</label>
            {{ schedule_form.employee }}
            {% if schedule_form.employee.errors %}
            <div class="text-danger">
                {{ schedule_form.employee.errors.0 }}
            </div>
            {% endif %}
        </div>

        <!-- Monday -->
        <div class="form-group">
            <label for="id_monday_start">Monday:</label>
            <div class="d-flex">
                <div class="mr-2">
                    {{ schedule_form.monday_start }}
                    {% if schedule_form.monday_start.errors %}
                    <div class="text-danger">
                        {{ schedule_form.monday_start.errors.0 }}
                    </div>
                    {% endif %}
                </div>
                <span> to </span>
                <div class="ml-2">
                    {{ schedule_form.monday_end }}
                    {% if schedule_form.monday_end.errors %}
                    <div class="text-danger">
                        {{ schedule_form.monday_end.errors.0 }}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <!-- Tuesday -->
        <div class="form-group">
            <label for="id_tuesday_start">Tuesday:</label>
            <div class="d-flex">
                <div class="mr-2">
                    {{ schedule_form.tuesday_start }}
                    {% if schedule_form.tuesday_start.errors %}
                    <div class="text-danger">
                        {{ schedule_form.tuesday_start.errors.0 }}
                    </div>
                    {% endif %}
                </div>
                <span> to </span>
                <div class="ml-2">
                    {{ schedule_form.tuesday_end }}
                    {% if schedule_form.tuesday_end.errors %}
                    <div class="text-danger">
                        {{ schedule_form.tuesday_end.errors.0 }}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <!-- Wednesday -->
        <div class="form-group">
            <label for="id_wednesday_start">Wednesday:</label>
            <div class="d-flex">
                <div class="mr-2">
                    {{ schedule_form.wednesday_start }}
                    {% if schedule_form.wednesday_start.errors %}
                    <div class="text-danger">
                        {{ schedule_form.wednesday_start.errors.0 }}
                    </div>
                    {% endif %}
                </div>
                <span> to </span>
                <div class="ml-2">
                    {{ schedule_form.wednesday_end }}
                    {% if schedule_form.wednesday_end.errors %}
                    <div class="text-danger">
                        {{ schedule_form.wednesday_end.errors.0 }}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <!-- Thursday -->
        <div class="form-group">
            <label for="id_thursday_start">Thursday:</label>
            <div class="d-flex">
                <div class="mr-2">
                    {{ schedule_form.thursday_start }}
                    {% if schedule_form.thursday_start.errors %}
                    <div class="text-danger">
                        {{ schedule_form.thursday_start.errors.0 }}
                    </div>
                    {% endif %}
                </div>
                <span> to </span>
                <div class="ml-2">
                    {{ schedule_form.thursday_end }}
                    {% if schedule_form.thursday_end.errors %}
                    <div class="text-danger">
                        {{ schedule_form.thursday_end.errors.0 }}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <!-- Friday -->
        <div class="form-group">
            <label for="id_friday_start">Friday:</label>
            <div class="d-flex">
                <div class="mr-2">
                    {{ schedule_form.friday_start }}
                    {% if schedule_form.friday_start.errors %}
                    <div class="text-danger">
                        {{ schedule_form.friday_start.errors.0 }}
                    </div>
                    {% endif %}
                </div>
                <span> to </span>
                <div class="ml-2">
                    {{ schedule_form.friday_end }}
                    {% if schedule_form.friday_end.errors %}
                    <div class="text-danger">
                        {{ schedule_form.friday_end.errors.0 }}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <!-- Saturday -->
        <div class="form-group">
            <label for="id_saturday_start">Saturday:</label>
            <div class="d-flex">
                <div class="mr-2">
                    {{ schedule_form.saturday_start }}
                    {% if schedule_form.saturday_start.errors %}
                    <div class="text-danger">
                        {{ schedule_form.saturday_start.errors.0 }}
                    </div>
                    {% endif %}
                </div>
                <span> to </span>
                <div class="ml-2">
                    {{ schedule_form.saturday_end }}
                    {% if schedule_form.saturday_end.errors %}
                    <div class="text-danger">
                        {{ schedule_form.saturday_end.errors.0 }}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <!-- Sunday -->
        <div class="form-group">
            <label for="id_sunday_start">Sunday:</label>
            <div class="d-flex">
                <div class="mr-2">
                    {{ schedule_form.sunday_start }}
                    {% if schedule_form.sunday_start.errors %}
                    <div class="text-danger">
                        {{ schedule_form.sunday_start.errors.0 }}
                    </div>
                    {% endif %}
                </div>
                <span> to </span>
                <div class="ml-2">
                    {{ schedule_form.sunday_end }}
                    {% if schedule_form.sunday_end.errors %}
                    <div class="text-danger">
                        {{ schedule_form.sunday_end.errors.0 }}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="form-group">
            <button type="submit">Submit</button>
        </div>
    </form>
    {% endblock %}
</body>
</html>
