{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!--======== CSS ========-->
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/flatpickr.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/base_styles.css' %}">  <!-- Your custom styles here -->
    
    <!--===== Boxicons CSS =====-->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    
    <!-- JS Files -->
    <script src="{% static 'js/htmx.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/flatpickr.js' %}"></script>
    <script src="{% static 'js/flatpickr_init.js' %}"></script>

</head>
<body class="pt-5">  
    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg fixed-top bg-white shadow">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <h4 class="mb-0"><img src="{% static 'img/Malasaga Trading Corporation Logo.jpg' %}" alt="Malasaga Trading Corporation Logo" class="img-fluid" style="width: 50px; height: auto;"></h4>
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" 
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link py-1" href="{% url 'dashboard' %}">
                            Dashboard <i class='bx bx-home-alt ms-2'></i>
                        </a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle py-1" href="#" id="manageEmpDropdown" 
                           role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Manage Employees <i class='bx bxs-down-arrow ms-2'></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'view_employee_list' %}">View Employee List</a></li>
                            <li><a class="dropdown-item" href="#">Add Login</a></li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle py-1" href="#" id="manageShftDropdown" 
                           role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Manage Shifts <i class='bx bxs-down-arrow ms-2'></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">View Shift Schedule</a></li>
                            <li><a class="dropdown-item" href="#">Another Action</a></li>
                        </ul>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link py-1" href="{% url 'dashboard' %}">
                            Leave Requests <i class='bx bx-home-alt ms-2'></i>
                        </a>
                    </li>
                </ul>

                <div class="d-flex">
                    <a href="/logout" class="btn btn-danger btn-sm">Logout</a>
                </div>
            </div>
        </div>
    </nav>

    <!-- Main Content -->
    <div class="container-fluid d-flex flex-column p-0">  <!-- Full viewport container -->
        <div class="container-fluid mt-5 d-flex flex-column p-0">  <!-- Content wrapper -->
            <div class="container-fluid d-flex flex-column p-4">
                {% block content %}
                
                {% endblock %}
            </div>
        </div>
    </div>
</body>

</html>