<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    {% block content %}
    <div class="hello">
        <h1>Departments</h1>
        <hr>
        <div class="row row-cols-5 flex-grow-1">
            <!-- Branch Cards -->
            
            {% for department in departments %}
                <div class="p-2 d-flex">
                    <div class="card bg-dark-subtle shadow border-1 border-dark-subtle" style="flex: 1; aspect-ratio: 1 / 1;">
                        <div class="card-body d-flex flex-column">
                            <div class="d-flex justify-content-between">
                                <h6 class="card-title mb-0">{{ department.department_name }}</h6>
                                <button type="button" class="btn-close text-danger" data-bs-toggle="modal" data-bs-target="#deleteModal{{ department.id }}"></button>

                            </div>

                            <!-- Delete Department Modal -->
                            <div class="modal fade" id="deleteModal{{ department.id }}" tabindex="-1" aria-labelledby="deleteModalLabel{{ department.id }}" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-6" id="deleteModalLabel{{ department.id }}">
                                                Delete {{ department.department_name }} Department
                                            </h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            Are you sure you want to delete <strong>{{ department.department_name }}</strong>?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                            <form method="POST" action="{% url 'delete_department' department.id %}">
                                                {% csrf_token %}
                                                <button type="submit" class="btn btn-danger">Delete</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <hr class="my-2">
                            <div class="mb-2">
                                <ul class="list-group border border-1 border-dark-subtle ">
                                    <li class="list-group-item" style="font-size: smaller;">Department Head:</li>
                                    <li class="list-group-item">
                                        {% with department_head=department.department_employees.all|dictsort:"role"|first %}
                                            {% if department_head and department_head.role == "Department Head" %}
                                                {{ department_head.first_name }} {{ department_head.last_name }}
                                            {% else %}
                                                <span class="text-muted">No Department Head Assigned</span>
                                            {% endif %}
                                        {% endwith %}
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}


        
            <!-- Add Branch Card -->
            <div class="p-2 d-flex">
                <div class="card bg-light-subtle shadow border-1 border-dark-subtle d-flex justify-content-center" style="flex: 1; aspect-ratio: 1 / 1;">
                    <button type="button" class="btn btn-outline-primary flex-grow-1" style="font-size: large;" data-bs-toggle="modal" data-bs-target="#addBranchModal">
                        ADD BRANCH
                    </button>
                </div>
            </div>
        </div>
        
        <!-- Add Branch Modal -->
        <div class="modal fade" id="addBranchModal" tabindex="-1" aria-labelledby="addBranchModalLabel" aria-hidden="true">
            <div class="modal-dialog  modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addBranchModalLabel">Add New Branch</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form method="post" action="{% url 'add_department' %}">
                        {% csrf_token %}
                        <div class="modal-body">
                            <div class="mb-3">
                                <label for="departmentName" class="form-label">Branch Name</label>
                                <input type="text" class="form-control" id="departmentName" name="department_name" required>
                            </div>
        
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary">Add Branch</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
</body>
</html>
