<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    {% block content %}
    <div class="row row-cols-3">
        {% for department in departments %}
            <div class="p-2 d-flex">
                <div class="d-flex flex-column border border-dark-subtle p-3 rounded shadow flex-grow-1">
                    <h3>{{ department.name }}</h3>
                    <hr>
                    <div class="d-flex flex-grow-1 gap-3">
                        <div class="flex-grow-1 border border-dark-subtle rounded p-2">
                            <h5>Shift Respondents:</h5>
                            {% if department.shift_respondents.exists %}
                                <ul>
                                    {% for respondent in department.shift_respondents.all %}
                                        <li>{{ respondent.first_name }} {{ respondent.last_name }}</li>
                                    {% endfor %}
                                </ul>
                            {% else %}
                            <ul>

                                <li>unassigned</li>

                        </ul>
                            {% endif %}
                        </div>
                        <div class="flex-grow-1 border border-dark-subtle rounded p-2">
                            <h5>Leave Respondents:</h5>
                            {% if department.leave_respondents.exists %}
                                <ul>
                                    {% for respondent in department.leave_respondents.all %}
                                        <li>{{ respondent.first_name }} {{ respondent.last_name }}</li>
                                    {% endfor %}
                                </ul>
                            {% else %}
                                <ul>

                                        <li>unassigned</li>

                                </ul>
                            {% endif %}
                        </div>
                    </div>
                    
                    <button class="btn btn-primary align-self-start px-5 mt-3">
                        view
                    </button>
                </div>
            </div>
        {% endfor %}
    </div>
    {% endblock %}
</body>
</html>
