<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    {% block content %}
    <div class="d-flex">
        {% for department in departments %}
            <div class="d-flex flex-column border border-dark-subtle p-3 m-3 rounded shadow">
                <h3>{{ department.name }}</h3>
                <hr>
                <h5>Shift Respondents:</h5>
                {% if department.shift_respondents.exists %}
                    <ul>
                        {% for respondent in department.shift_respondents.all %}
                            <li>{{ respondent.first_name }} {{ respondent.last_name }}</li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>No shift respondents assigned.</p>
                {% endif %}

                <h5>Leave Respondents:</h5>
                {% if department.leave_respondents.exists %}
                    <ul>
                        {% for respondent in department.leave_respondents.all %}
                            <li>{{ respondent.first_name }} {{ respondent.last_name }}</li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <ul>

                            <li>unassigned</li>

                    </ul>
                {% endif %}
                <button class="btn btn-primary">
                    view
                </button>
            </div>
        {% endfor %}
    </div>
    {% endblock %}
</body>
</html>
