<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!--======== CSS ========-->
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/flatpickr.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/base_styles.css' %}">  <!-- Your custom styles here -->
    
    <!--===== Boxicons CSS =====-->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    
    <!-- JS Files -->
    <script src="{% static 'js/htmx.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/flatpickr.js' %}"></script>
    <script src="{% static 'js/flatpickr_init.js' %}"></script>

</head>
<body class="pt-5">  

    <!-- Main Content -->
    <div class="container-fluid d-flex flex-column p-0">  <!-- Full viewport container -->
        <div class="container-fluid mt-5 d-flex flex-column p-0">  <!-- Content wrapper -->
            <div> 
                <h1> Login </h1>
            </div>
        </div>
    </div>
</body>

</html>