<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    {% block content %}
        <h1>Register Log In Credentials</h1>
        <div class="container">
            <h2>Register</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Register</button>
            </form>
        </div>
    {% endblock %}
</body>
</html>
