{% extends "base.html" %}
{% load static %}
{% load render_table from django_tables2 %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}
    {% block main %}
    <div id="face-embeddings-list-container" class="d-flex flex-column h-100">
        <!-- Top Section -->
        <div class="p-4 rounded-top bg-primary">
            <h1 class="text-white text-uppercase mb-4">Face Embeddings Table</h1>
    
            {# Search Form #}
            <div class="d-flex w-100 mb-3">
                <form
                    id="search-form"
                    hx-get="{% url 'view_employee_list' %}"
                    hx-target="div.table-container"
                    hx-swap="outerHTML"
                    hx-indicator=".progress"
                    class="form-inline w-50 d-flex">
                    <div class="flex-grow-1 d-flex">
                        <div class="form-group flex-grow-1">
                            {% crispy filter.form %}
                        </div>
                        <div>
                            <button class="btn btn-secondary ms-2" type="submit">
                                Search
                            </button>
                        </div>
                    </div>
                </form>
                <div>
                    <button 
                        class="btn btn-secondary ms-2" 

                        id="clear-btn">
                        Clear
                    </button>
                </div>
                <div class="ms-auto">
                    <a class="btn btn-success" href="{% url 'register_face' %}">Register Face Embeddings</a>
                    <a class="btn btn-success" href="{% url 'train_dataset' %}">Train Dataset</a>
                </div>
            </div>
        </div>
        {# Table Section #}
        <div class="table-container mt-0 bg-white p-3 rounded shadow flex-grow-1 bg-white p-3">
            {% render_table table %}
        </div>
    </div>
    
    <script>
        document.getElementById('clear-btn').addEventListener('click', function() {
            // Clear the search inputs
            document.querySelectorAll('#search-form input').forEach(input => input.value = '');

            // Trigger form submission to reset the table
            document.getElementById('search-form').submit();
        });
        document.body.addEventListener('htmx:configRequest', (event) => {
            const token = document.querySelector('[name=csrfmiddlewaretoken]')?.value;
            if (token) {
            event.detail.headers['X-CSRFToken'] = token;
            }
        });
    </script>
    {% endblock %}
{% endblock %}